@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary);
}
body {
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}
h1, .navbar{
    font-family: 'Audiowide', cursive;
}

/* Tipografia */
h1{
    font-size: 3.438rem;
    color: white;
}
h2{
    font-size: 1.875rem;
    font-weight: 500;
    color: white;
}
h3{
    font-size: 1.25rem;
}
h4{
    font-size: 0.938rem;
}
p{
    font-size: 0.938rem;
    font-weight: 300;
}
footer p{
    font-size: 0.75rem;
}
.nav-item{
    font-size: 1.875rem;
}
.dropdown-item{
    font-size: 1.375rem;
}
.btn{
    font-size: 0.938rem;
}
.small-text{
    font-size: 0.625rem;
}

.card-experience svg{
    height: 0.938rem;
}
.tag{
    height: 0.813rem;
}


@media screen and (min-width: 992px){
    h1{
        font-size: 7.5rem;
    }
    h2{
        font-size: 3.75rem;
    }
    h3{
        font-size: 3.125rem;
    }
    h4{
        font-size: 1.563rem;
    }
    p{
        font-size: 1.25rem;
    }
    footer p{
        font-size: 1.125rem;
    }
    .nav-item{
        font-size: 3.438rem;
    }
    .dropdown-item{
        font-size: 2.5rem;
    }
    .btn{
        font-size: 1.25rem;
    }
    .small-text{
        font-size: 0.875rem;
    }

    .card-experience svg{
        height: 1.563rem;
    }

    .tag{
        height: 1.356rem;
    }
    .tag-article{
        height: 1.75rem !important;
    }

}
:root {
    --primary: #0C492A;
    --secondary: #B6EC4C;
    --tertiary: #FDC41F;
    --text-color: #00120B;
}

#body-home{
    overflow: hidden;
}
p{
    color: var(--text-color);
}

b, h2, h5{
    color: var(--primary);
}


/*navbar*/
.navbar{
    z-index: 100;
    width: 100%;
}
.navbar-nav-scroll{
    overflow-y: visible;
}
.dropdown{
    white-space: nowrap;
}
.dropdown-toggle, .dropdown .nav-link{
    display: inline-block;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}
.nav-link, .dropdown-item{
    color: var(--primary)!important;
    background-color: transparent!important;
}
.nav-link.active, .nav-link:hover, .dropdown-item:hover, .dropdown-item.active{
    color: #FFFFFF !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #04110B;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    margin-top: -0.938rem;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 0.938rem;
    transform: rotate(0deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
    background: #04110B;
}
.no-scroll {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


.dropdown-menu {
    background-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-toggle{
    width: 1.125rem;
}
.bg-grad{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.76) 0%, rgba(217, 217, 217, 0) 100%);
    padding-bottom: 4vh;
}
.bg-green{
    background-color: var(--secondary) !important;
}

/*Footer*/
#footer{
    background-image: url("src/full-footer.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    border-top: none !important;
}
.wrapper-home #footer{
    background-image: none;
    background-color: var(--primary);
    height: fit-content !important;
}
.wrapper-home #footer-logo, .wrapper-home #social-icons{
    margin-top: 0;
}
#footer img{
    align-self: center;
    width: 7.263rem;
}
#social-icons svg{
    width: 2.813rem;
}
#footer-logo, .navbar-brand svg{
    width: 9.688rem;
}
button.collapsed{
    width: 1.875rem;
}

@media screen and (min-width: 992px){
    #footer img{
        width: 11.125rem;
    }
    #footer-logo{
        width: 12.938rem;
    }
    .navbar-brand svg{
        width: 16rem;
    }
    button.collapsed{
        width: 3.188rem;
    }
    .navbar-toggler.collapsed .top-bar {
        margin-top: -1.876rem;
    }

    .navbar-toggler.collapsed .bottom-bar {
        margin-top: 1.876rem;
    }
    .toggler-icon{
        height: 5px;
    }
    .navbar-toggler .top-bar {
        transform: scale(2.2) rotate(135deg);
    }

    .navbar-toggler .bottom-bar {
        transform: scale(2.2) rotate(-135deg);
    }
    .dropdown-toggle{
        width: 2.009rem;
    }

}
.icon{
    width: 1.5rem;
}
@media screen and (min-width: 768px){
    #social-icons svg{
        width: 3.625rem;
    }
}
#footer p{
    color: white !important;
}
.right-spacing {
    margin-right: 3vw;
}
#footer-logo, #social-icons {
    /*margin-top: 7vw;   margine di default*/
}
.info{
    column-gap: 1vw;
}
@media screen and (min-width: 1200px) {
    /* per schermi large*/
    #footer-logo {
        /*margin-top: 10vw;*/
    }
}
@media screen and (min-width: 992px) {
    footer > :first-child{
        padding-top: 5vw;
    }
    .right-spacing {
        margin-right: 1vw;
    }
    /*
    #footer-logo{
        margin-bottom: 6vw !important;
    }
    #social-icons{
        /*margin-top: 2vw;
        margin-bottom: 9vw !important;
    } */
}
/* Swiper */
.swiper-home {
    width: 100vw;
    height: 100vh;
    padding: 0 !important;
}
.wrapper-home{
    height: 100vh;
}

.swiper-pagination-bullet {
    background: var(--secondary);
    /*per desktop 1rem, per mobile meno*/
    width: 1rem;
    height: 1rem;
}
.wrapper-home .swiper-slide {
    background: white;
    width: 100%;
    height: 100% !important;
    display: grid;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scroll{
    height: 2.375rem;
}
@media screen and (min-width: 992px){
    .scroll{
        height: 3.938rem;
    }
}
.content{
    align-self: end;
    justify-content: start;
}
.buttons{
    display: grid;
    column-gap: 2vw;
    justify-content: start;
}
@media screen and (min-width: 992px){
    #panel1 {
        background-image: url('src/Home/home-iFarm-des.webp') !important;
    }
    #panel2{
        background-image: url('src/Home/home-mission-des.webp') !important;
    }
    #panel3{
        background-image: url('src/Home/home-app-des.webp') !important;
    }
    #panel4{
        background-image: url('src/Home/home-azienda-cliente-des.webp') !important;
    }
}

#panel1{
    background-image: url('src/Home/home-iFarm-mob.webp');
}
#panel1 .container, #panel1 img, #panel2 .container, #panel2 img, #panel3 .container, #panel3 img, #panel4 .container, #panel4 img{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#panel2{
    background-image: url('src/Home/home-mission-mob.webp');
}
#panel2 .subtitle, #panel3 .subtitle, #panel4 .subtitle{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}
#top-footer{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4 !important;
    grid-row-end: 4 !important;
    padding: 0;
    width: 100%;
    border: none !important;
    stroke: transparent;
    stroke-width: 0px;
    margin-bottom: -1vh;
}

#panel3{
    background-image: url('src/Home/home-app-mob.webp');
}
#btns-3{
    grid-template-areas: "btn-3-1 btn-3-2";
}
#btn-3-1{
    grid-area: btn-3-1;
}
#btn-3-2{
    grid-area: btn-3-2;
    justify-self: start;
}

#panel4{
    background-image: url('src/Home/home-azienda-cliente-mob.webp');
    padding-right: 0;
    padding-left: 0;
}
#btns-4{
    grid-template-areas: "btn-4-1 btn-4-2";
}
#btn-4-1{
    grid-area: btn-4-1;
    width: fit-content;
}
#btn-4-2{
    grid-area: btn-4-2;
    width: fit-content;
    justify-self: start;
}
#scroll4{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    z-index: 1;
}

.btn{
    color: white;
    background-color: var(--primary);
    width: fit-content;
    padding-left: 5vw;
    padding-right: 5vw;
}
.btn:hover{
    background-color: var(--tertiary);
    color: white;
}
#btn-3-1 img, #btn-3-2 img{
    width: 9.709rem;
}
@media screen and (min-width: 992px){
    #btn-3-1 img, #btn-3-2 img{
        width: 12.125rem;
    }
}

/*Mission*/
#panel-mission img{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
#animation-container{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
#animation-container svg{
    width: 100% !important;
    transform: translate3d(0px, 0px, 0px);
    content-visibility: visible;
    display: inline-block;
}
#panel-mission img{
      object-fit: cover;
      object-position: top;
  }

#container-des{
    grid-template-areas: "card1 . card3 . card5" "timeline timeline timeline timeline timeline" ". card2 . card4 .";
    grid-template-columns: 20% 20% 20% 20% 20%;
}
#timeline-des{
    display: grid;
    grid-area: timeline;
}

.card{
    border-style: none;
}
.card-des{
    width:auto;
    filter: none !important;
}
.card-body{
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card-mob img{
    transform: scale(0.5);
}
.card-des img{
    transform: scale(0.75);
    padding-right: 15px;
}

.timeline-part{
    display: grid;
}
.timeline-part-des{
    align-items: center;
}

.timeline-part1{
    grid-area: timeline1;
}
.timeline-part2{
    grid-area: timeline2;
}
.timeline-part3{
    grid-area: timeline3;
}
.timeline-part4{
    grid-area: timeline4;
}
.timeline-part5{
    grid-area: timeline5;
}
.timeline-part6{
    grid-area: timeline-end;
}

#timeline-mob{
    display: grid;
    justify-content: space-around;
}
#cards-mob{
    grid-area: cards;
}
.card-mob{
    border-bottom-left-radius: 0px !important;
    height: auto;
    margin-bottom: 3vw;
}
.card-mob .card-body{
    background-color: transparent;
    width: 100%;
    padding: 0;
}

.button-leaf{
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 6.125rem;
}
.button-leaf:hover {
    background-color: transparent;
}
.normal-leaf, .hover-leaf{
    width: 7.5rem;
}
.buttons-leaf{
    /*align-self: center;*/
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
    background-color: transparent;
    z-index: 1;
}

.txt-leaf{
    color: white;
    text-align: center;
    z-index: 2;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    justify-self: center;
    margin: 0;
}

.card-des .card-body{
    flex: none;
    background-color: transparent;
}
.btn{
    --bs-btn-border-width: 0;
}

@media screen and (min-width: 992px){
    .d-md-grid {
        display: grid !important;
    }
    .button-leaf{
        display: grid;
    }
    .button-leaf img{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        justify-self: center;
        align-self: center;
    }
}

/*About*/
.team-card{
    display: grid;
}
.team-card .card-body{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: transparent;
    justify-content: flex-end;
}
.team-card .card-img-top{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}
.card-person p, .card-person h5{
    color: white !important;
    line-height: 10% !important;
    text-align: center;
}
.card-person p{
    font-weight: 300;
}
/*mappa*/
#map-div {
    width: 100%;
    height: fit-content;
}

.marker {
    background-image: url('src/About/locationSVG35.svg');
    width: 35px;
    height: 35px;
}

.marker:hover {
    background-image: url('src/About/locationSVG35_hover.svg');
}

.mapboxgl-popup-content {
    width: fit-content;
}

.mapboxgl-popup-close-button {
    color: #0C492A;
    transform: scale(1.5);
    padding-right: 5px;
}

.mapboxgl-popup-close-button:hover {
    background-color: transparent;
    transform: scale(2);
    color: #FDC41F;
}

/*App*/
#download-app .badge{
    width: 9.709rem;
}

.alignment{
    align-self: center;
}

@media screen and (min-width: 992px){
    #download-app .badge{
        width: 12.125rem;
    }
    .alignment{
        align-self: start;
    }
}
/*Blog*/
.card-articles .card-body,.card-mini-articles .card-body{
    align-items: unset;
}
.card-body{
    background-color: var(--secondary);
}

.card-body-regular{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.card{
    border-style: none;
    filter: drop-shadow(0px 3px 5px rgba(12, 73, 42, 0.25));
    padding: 0;
}
.card-img-top-regular{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}


.img-card-mini{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#img-card-mini1{
    background-image: url('src/Blog/agenda2030-small.png');
}
#img-card-mini2{
    background-image: url('src/Blog/agricoltura4-0-small.png');
}
#img-card-mini3{
    background-image: url('src/Blog/agrovoltaico-small.png');
}
#img-card-mini4{
    background-image: url('src/Blog/droni-small.png');
}
#img-card-mini5{
    background-image: url('src/Blog/stazionemeteo-small.png');
}

.text-card-mini{
    height: 100%;
}
.text-card-mini .card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.square {
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 3px 5px rgba(12, 73, 42, 0.25));
}
.btn-primary{
    background-color: var(--primary);
    color: white;
}
.btn-primary:hover{
    background-color: #00A05E;
}
.card-articles{
    height: 100%;
}

a .card{
    font-weight: normal;
}


/*Shop*/
#container-shop{
    margin: 0 auto;
}

.swiper {
    width: 100%;
    height: fit-content;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-coverflow{
    overflow: visible;
}


.swiper-coverflow .swiper-slide:not(.swiper-slide-active) {
    /*mix-blend-mode: multiply;*/
}

.swiper-slide img {
    display: block;
    width: 100%;
    padding-bottom: 0;
}
.swiper-coverflow .swiper-slide:not(.swiper-slide-active) .card-content{
    background-color: white;
    opacity: 0.6;
}


.plus-link:hover{
    cursor: pointer;
}
.minus-link:hover{
    cursor: pointer;
}
.hide{
    display: none;
}
#download-app svg:hover{
    transform: scale(1.05);
    cursor: pointer;
}
/*
.icon-experiences1{
    width: 29px;
    height: 22px;
    padding-left: 1vw;
}
.icon-experiences2{
    width: 21px;
    height: 21px;
    padding-left: 1vw;
}
.icon-experiences3{
    width: 19px;
    height: 26px;
    padding-left: 1vw;
} */
.icon-experience{
    width: 1.167rem;
}
@media screen and (min-width: 992px){
    .icon-experience{
        width: 1.814rem;
    }
}
.price{
    font-size: 25px;
}
.price-container{
    text-align: center;
}
#download{
    text-align: center;
    margin-top: 2vw;
}
.card-experience .d-flex{
    column-gap: 1vw;
}
.card-experience{
    margin: 0 2vw;
}
@media screen and (min-width: 992px){
    .card-experience{
        margin: 0 2.5vw;
    }
}
/*Articoli*/
a {
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
}
.nav-articles:hover{
    transform: scale(1.05);
}
.nav-articles a:hover{
    color: var(--primary);
}
a .article-link{
    display: inline;
    color: inherit;
    font-weight: inherit;
}
.article-link{
    font-size: 0.75rem;
}
@media screen and (min-width: 992px){
    .article-link{
        font-size: 1.25rem;
    }
}
strong{
    font-weight: bold;
}

